@use "sass:color";

$treehillstudio-color: #cbd842;

.dashboard-block-treehillstudio {
  position: relative;
}

#dashboard-block-treehillstudio-matomovisitssummary {
  iframe {
    border: none;
    width: 100%;
    height: 255px;
  }
  .widget-iframe {
    margin:-10px;
    height:260px;
  }
  .matomo-directlink {
    display: block;
    position: absolute;
    top: 1px;
    right: 15px;
    padding: 14px 0 12px;
    text-decoration: none;
    color: #5e5e5e;
  }
  .treehillstudio-widget-about {
    position: absolute;
    cursor: pointer;
    right: 50%;
    transform: translateX(+50%);
    top: 12px;
    opacity: 0.25;
    transition: opacity 0.5s;
    &:hover {
      opacity: 1;
    }
  }
}

.treehillstudio_window {
  a {
    color: color.adjust($treehillstudio-color, $lightness: -10%);
    text-decoration: none;
    &:hover {
      color: color.adjust($treehillstudio-color, $lightness: -25%);
    }
  }
}

@import "modx3";
